{% extends 'base.html.twig' %}
{% block acceuil %}
<div style="    background-color: #352032;
    margin: 15px;
    padding: 50px;
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: cursive;">Bienvenue Chez Destino Travel</div>
{% endblock %}