{% extends 'baseFront.html.twig' %}
 
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="{{asset('front/')}}styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="{{asset('front/')}}styles/contact_responsive.css">
{% endblock %}

{% block contact %}

<div class="contact">
        

        <div class="container" style="    background-color: #131a2f;    margin-top: 75px;">
            <div class="row">
                <div class="col">
                    <div class="contact_title">Destino Agency</div>
                    <div class="contact_subtitle">Contactez-Nous</div>
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="row" style="margin:5px">
                    <div class="col alert alert-success">
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row contact_content">
                <div class="col-lg-5">
                    <div class="contact_text">
                        <p>Destino Agency une agence de voyage en tunisie , Notre client peux réserver un hotel aprés avoir un filtre par étoile ou aussi par prix , il peux aussi réserver une rondonnées à tunisie , en fin il peux nous contacter pour recommandée , suggérer une réservation.</p>
                    </div>
                    <div class="contact_info">
                        <div class="contact_info_box">i</div>
                        <div class="contact_info_container">
                            <div class="contact_info_content">
                                <ul>
                                    <li>Address: Tunis , Sousse -Beb bhar , 92 Rue Borghuiba 4070</li>
                                    <li>Phone: +216 55 77 77 77</li>
                                    <li>Email: destinoarn@gmail.com</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact_form_container">
                        <form action="{{path('sendMail')}} " id="contact_form" class="clearfix">
                            <input id="contact_input_name" class="contact_input contact_input_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                            <input id="contact_input_email" class="contact_input contact_input_email" type="text" placeholder="E-mail" required="required" data-error="E-mail is required.">
                            <input id="contact_input_subject" class="contact_input contact_input_subject" type="text" placeholder="Subject">
                            <textarea id="contact_input_message" class="contact_message_input contact_input_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row contact_map">
                <!-- Google Map -->

                <div class="col">
                    <div id="google_map">
                        <div class="map_container">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>

    
{% endblock contact %}
